{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
{{ partial "pager" . }}
	<div class="container">
		{{ range sort .Paginator.Pages }}
		<article style="margin-bottom: 40px;">
			<h1 class="title" ><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
			<div class="content">
				{{ if .Params.image }}
					<a href="{{ .Permalink}}" style="text-decoration: none !important; border-bottom: none;">
						<img src="../../projects/{{ .Params.image }}" alt="Image of '{{ .Title }}' Project"/>
					</a>
					
					<a class="button is-link read-more" href="{{ .Permalink }}" style="height:28px;">
						Read more
						<span class="icon">
							<i class="fa fa-angle-double-right"></i>
						</span>
					</a>
				{{ else }}
					{{ .Summary }}
					
					{{ if .Truncated }}
					<a class="button is-link read-more" href="{{ .Permalink }}" style="height:28px;">
						Read more
						<span class="icon">
							<i class="fa fa-angle-double-right"></i>
						</span>
					</a>
					{{ end }}
				{{ end }}
			  
			</div>
		</article>
		{{ end }}
	</div>
{{ partial "pager" . }}
</section>
{{ partial "footer" . }}
