{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
	{{ $paginator := .Paginate (where .Pages "Type" "posts") 10 }}
	{{ partial "pager" . }}
  <div class="container">
	{{ range $paginator.Pages }}
    <article>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
    <h2 class="subtitle is-6">{{ .Date.Format "2006-01-02" }}{{ if not (eq (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02")) }}, modified {{ .Lastmod.Format "2006-01-02" }} {{ end }}</h2>
      {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
      {{ end }}
      <div class="content">
        {{ .Summary }}
        {{ if .Truncated }}
        <a class="button is-link read-more" href="{{ .Permalink }}" style="height:28px;">
          Read more
          <span class="icon">
            <i class="fa fa-angle-double-right"></i>
          </span>
        </a>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
{{ partial "pager" . }}
</section>
{{ partial "footer" . }}
