<section class="section" style="padding-bottom: 0px;">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}/"><h1 class="title is-4"> Projects </h1></a>
		
        <a class="nav-item" href="{{ .Site.BaseURL }}/games/"/><h1 class="title is-4"> Games </h1></a>
		
        <a class="nav-item" href="{{ .Site.BaseURL }}/mods/"/><h1 class="title is-4"> Mods </h1></a>
		
        <a class="nav-item" href="{{ .Site.BaseURL }}/about/"><h1 class="title is-4"> About </h1></a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          {{ range .Site.Params.social }}
          <a class="level-item" href="{{ .url }}" target="_blank">
            <span class="icon">
              <i class="fa {{ .fa_icon }} fa-2x"></i>
            </span>
          </a>
          {{ end }}
        </nav>
      </div>
    </nav>
  </div>
</section>
